

* {
	all: initial;
	all: unset;
	box-sizing: content-box;
}
* {
	color : inherit;
	background : transparent;
	line-height : inherit;
	font-family : inherit;
	font-size : inherit;
	font-size-adjust : inherit;
	font-weight : inherit;
	font-stretch : inherit;
	font-variant : inherit;
	cursor : inherit;
}




html:root > *, html:root style, html:root script {
	display : none;
}
html:root, html:root > body {
	display : block;
}
html:root {
	font-family : "JetBrains Mono NL", "JetBrains Mono", "Fira Sans", "Droid Sans", "Verdana", "Trebuchet MS", sans-serif;
	font-size : 11pt;
	line-height : normal;
}




html:root > body {
	margin-left : auto;
	margin-right : auto;
	width : 100ch;
	min-width : 20ch;
	max-width : 95vw;
	cursor : default;
}

h1, h2, h3, h4, h5, h6,
p, blockquote,
pre {
	display : block;
	margin-top : 0.50rem;
	margin-bottom : 0.50rem;
}
ul, ol {
	display : block;
}

h1, h2, h3 {
	margin-top : 5.00rem;
	margin-bottom : 1.00rem;
	border-color : hsl(0, 0%, 75%);
	border-bottom-style : solid;
	border-bottom-width : 0.10em;
}
h4 {
	margin-top : 2.00rem;
	margin-bottom : 1.00rem;
	border-color : hsl(0, 0%, 25%);
	border-bottom-style : solid;
	border-bottom-width : 0.10em;
}
h5, h6 {
	margin-top : 2.00rem;
	margin-bottom : 1.00rem;
}
h1, h2, h3, h4, h5, h6 {
	font-weight : bolder;
}
h1 {
	font-size : 1.75rem;
}
h2 {
	font-size : 1.50rem;
}
h2 {
	font-size : 1.40rem;
}
h3 {
	font-size : 1.30rem;
}
h4 {
	font-size : 1.20rem;
}
h5 {
	font-size : 1.10rem;
}
h6 {
	font-size : 1.00rem;
}

html:root > body > blockquote {
	padding-left : 1.00rem;
	padding-right : 1.00rem;
	border-color : hsl(0, 0%, 25%);
	border-left-style : dashed;
	border-left-width : 0.10rem;
	border-right-style : dashed;
	border-right-width : 0.10rem;
}
html:root > body > blockquote > * {
	padding-left : 1.00rem;
	padding-right : 1.00rem;
	margin-top : 1.00rem;
	margin-bottom : 1.00rem;
}
blockquote blockquote {
	padding-top : 0.50rem;
	padding-bottom : 0.50rem;
	border-color : hsl(0, 0%, 25%);
	border-left-style : solid;
	border-left-width : 0.20rem;
	border-right-style : solid;
	border-right-width : 0.20rem;
}

code, pre {
	font-family : "JetBrains Mono NL", "JetBrains Mono", "Fira Mono", "Droid Sans Mono", "Andale Mono", "Courier New", "Courier", monospace;
	background : hsla(0, 0%, 50%, 0.10);
}
code {
	display : inline-block;
	vertical-align : middle;
	padding : 0.20rem;
}
h1 > code, h2 > code, h3 > code, h4 > code, h5 > code, h6 > code,
a > code {
	color : inherit;
	padding : 0px;
	background : transparent;
}

pre {
	padding : 1.00rem;
	white-space : pre;
	overflow : auto;
}
pre > code {
	display : block;
	background : transparent;
	padding : 0px;
}

ul > li, ol > li {
	display : list-item;
	margin-left : 2.00rem;
}
ul > li {
	list-style-type: square;
}
ol > li {
	list-style-type: decimal;
}

a {
	color : hsl(210, 100%, 75%);
	border-bottom-style : dotted;
	border-bottom-width : 0.10rem;
	border-color : hsl(210, 100%, 75%);
	cursor : pointer;
}
a:hover {
	background : hsla(210, 100%, 50%, 0.10);
}

em {
	font-style : italic;
}
strong {
	font-weight : bolder;
}

hr {
	display : none;
}

div.navigator {
	display : block;
	margin-top : 0.50rem;
	margin-bottom : 2.00rem;
	margin-left : auto;
	margin-right : auto;
	padding : 2.00rem;
	font-size : 1.25rem;
	text-align : right;
	opacity : 0.25;
}
div.navigator:hover {
	opacity : 1.00;
}

div.heading-anchor {
	margin-left : 0.25ch;
	opacity : 0.25;
}
div.heading-anchor:hover {
	opacity : 1.00;
}
div.heading-anchor a {
	color : inherit;
	background : transparent;
	border : none;
}

div.anchor {
	display : block;
}




*::-moz-selection {
	color : hsl(30, 100%, 75%);
	background : hsla(30, 100%, 50%, 0.25);
}




@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Hair.eot');
	src: local('Fira Sans Hair'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Hair.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-Hair.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-Hair.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-HairItalic.eot');
	src: local('Fira Sans Hair Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-HairItalic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-HairItalic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-HairItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-UltraLight.eot');
	src: local('Fira Sans UltraLight'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-UltraLight.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-UltraLight.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-UltraLightItalic.eot');
	src: local('Fira Sans UltraLight Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-UltraLightItalic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Light.eot');
	src: local('Fira Sans Light'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-Light.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-LightItalic.eot');
	src: local('Fira Sans Light Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-LightItalic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Regular.eot');
	src: local('Fira Sans Regular'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-Regular.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Italic.eot');
	src: local('Fira Sans Regular Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Italic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-Italic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Medium.eot');
	src: local('Fira Sans Medium'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-Medium.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-MediumItalic.eot');
	src: local('Fira Sans Medium Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-MediumItalic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-SemiBold.eot');
	src: local('Fira Sans SemiBold'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-SemiBold.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-SemiBoldItalic.eot');
	src: local('Fira Sans SemiBold Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-SemiBoldItalic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Bold.eot');
	src: local('Fira Sans Bold'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-Bold.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-BoldItalic.eot');
	src: local('Fira Sans Bold Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-BoldItalic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-ExtraBold.eot');
	src: local('Fira Sans ExtraBold'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-ExtraBold.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-ExtraBold.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-ExtraBoldItalic.eot');
	src: local('Fira Sans ExtraBold Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-ExtraBoldItalic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Heavy.eot');
	src: local('Fira Sans Heavy'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-Heavy.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-Heavy.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-HeavyItalic.eot');
	src: local('Fira Sans Heavy Italic'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraSans-HeavyItalic.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraSans-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}


@font-face{
	font-family: 'Fira Mono';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraMono-Regular.eot');
	src: local('Fira Mono'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraMono-Regular.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraMono-Regular.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Fira Mono';
	src: url('https://code.cdn.mozilla.net/fonts/eot/FiraMono-Bold.eot');
	src: local('Fira Mono Bold'),
		 url('https://code.cdn.mozilla.net/fonts/eot/FiraMono-Bold.eot') format('embedded-opentype'),
		 url('https://code.cdn.mozilla.net/fonts/woff/FiraMono-Bold.woff') format('woff'),
		 url('https://code.cdn.mozilla.net/fonts/ttf/FiraMono-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

